# Ignore All
minecraft/*

# Include Mods
!minecraft/mods/

# Include resouces
!minecraft/resourcepacks/

# Include texturepacks
!minecraft/texturepacks/

!minecraft/config/

!minecraft/coremods/

!instance.cfg

!servers.dat

#Ignored Files & folders
natives/*
minecraft/crash-reports/*
minecraft/backups/*
minecraft/usernamecache.json
minecraft/asm/*
minecraft/journeymap/*
minecraft/logs/*
minecraft/saves/*
*.log
minecraft/usernamecache.json
